.search-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.search-container input {
  width: 250px;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-container button {
  background-color: #c25c2c;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-container button:hover {
  background-color: #9e4822;
}

.search-container button:active {
  transform: translateY(1px) scale(0.98);
  filter: brightness(0.97);
}