<div class="home-container">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>

  <div *ngIf="loading()">Loading...</div>
  <div *ngIf="error()" class="error">{{ error() }}</div>

  <div *ngIf="!loading() && meals()?.length" class="recipe-grid">
    <div *ngFor="let meal of meals()" class="recipe-card">
      <img [src]="meal.strMealThumb" [alt]="meal.strMeal" />
      <h3>{{ meal.strMeal }}</h3>
      <a [routerLink]="['/recipe', meal.idMeal]">See details</a>
    </div>
  </div>

  <div *ngIf="!loading() && meals() && meals()?.length === 0">
    No recipe to show.
  </div>
</div>
